{% extends "layout.html" %} 

{% block content %}
<div class="container mx-auto px-4 py-6">
  <h1 class="text-3xl font-semibold text-center text-gray-800 mb-4">
    Airports
  </h1>

  <div
    id="airportList"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
  >
    {% for airport in airports %}
    <div class="bg-white p-4 shadow-md rounded-lg border">
      <h2 class="text-xl font-bold text-gray-800">
        {{ airport.airport_name }}
      </h2>
      <p class="text-gray-600">
        <strong>IATA Code:</strong> {{ airport.iata_code }}
      </p>
      <p class="text-gray-600">
        <strong>ICAO Code:</strong> {{ airport.icao_code }}
      </p>
      <p class="text-gray-600">
        <strong>Country:</strong> {{ airport.country_name }}
      </p>
      <p class="text-gray-600">
        <strong>Timezone:</strong> {{ airport.timezone }}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
